
**/wallet/
**/Wallet/
**/oracle_wallet/

*.sso
*.p12
*.tnsnames.ora
ojdbc.properties
sqlnet.ora

.env
.env.*
*.pem
*.key

*.tfvars
*.auto.tfvars


.terraform/

*.tfstate
*.tfstate.backup
*..backup

.terraform.lock.hcl

crash.log
crash.*.log

__pycache__/
*.py[cod]
*$py.class

bin/
venv/
env/
.venv/
Scripts/
Lib/
Include/

*.zip

site-packages/
dist/
build/
*.egg-info/


.DS_Store
Thumbs.db
.vscode/
.idea/

